body {
    font-family: Arial, sans-serif;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

h1#dss {
    color: #008080; 
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
    text-shadow: 2px 2px 4px #000000;
}

h3 {
    color: #4F97A3;
    text-align: center;
    margin: 20px auto;
    width: 70%;
    font-size: 1.2em;
    line-height: 1.5em;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    width: 50%;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

label, select, button {
    width: 100%;
    margin-bottom: 10px;
}

label {
    color: #4682b4;
    font-weight: bold;
}

select {
    padding: 10px;
    border: 1px solid #1e90ff;
    border-radius: 5px;
    background-color: #e6f7ff; /* Light blue background */
    font-size: 1em;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1e90ff;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #4682b4;
}

#dataFields select {
    margin-top: 10px;
}

#addData {
    background-color: #87cefa; /* Light sky blue */
}

#addData:hover {
    background-color: #1e90ff;
}
